<% layout('layouts/boilerplate.ejs') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <a href="/campgrounds">Show Full List</a>
        <form action="/campgrounds" method="post" novalidate class="validate-form" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price-label">Campground Price</label>
            <div class="input-group ">
                <span class="input-group-text" id="price-label">₹</span>
                <input type="text" class="form-control" name="campground[price]" placeholder="0.00" aria-label="Price" aria-describedby="price-label" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Upload Images</label>
                <input type="file" name="image" class="form-control" id="formFile" multiple>
              </div>
              
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" name="campground[images]" id="image" required>
                <div class="valid-feedback">
                    Looks Good!
                </div> -->
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description URL</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
            <button class="btn btn-success">Add CampGround</button>
        </div>
        </form>
    </div>
</div>
